header{
   position: sticky;
   top:0;
}

h1{
   text-align: center;
   background-color: bisque;
}
*{
   font-family: 'Lobster', cursive;
}


.container{
   width: 80%;
   margin: auto;
   margin-top: 70px;
   display:flex;
   flex-direction: row;
   justify-content:space-around;
   align-items: center;
}
.glass{
   width: 170px;
   height: 200px;
   flex-shrink: 3;
   border-left: 3px solid black;
   border-right: 3px solid black;
   border-bottom: 3px solid black;
   border-radius:  0 0 20px 20px;
   cursor: pointer;
   overflow: hidden;
   background-size: 200% 200%;
   transition: background-position 1000ms;
}
.glass>h5{
   padding-top:30px;
   text-align: center;

}
.pink{
   background-image: linear-gradient(to top, rgb(107, 40, 51) 0%, rgb(248, 113, 138) 50%, transparent 50%);
}
.orange{
   background-image: linear-gradient(to top, rgb(255,101,20) 0%, rgb(255, 249, 70) 50%, transparent 50%);
}
.blue{
   background-image: linear-gradient(to top, rgb(0,63,255) 0%, rgb(0,229,255) 50%, transparent 50%);
}
.green{
   background-image: linear-gradient(to top, rgb(5,146,0) 0%, rgb(162,255,148) 50%,transparent 50%);
}
.coffee{
   background-image: linear-gradient(to top, rgb(140,43,0) 0%, rgb(250,240,172) 50%, transparent 50%);
}
.red{
   background-image: linear-gradient(to top, rgb(0,0,0) 0%, rgb(245,16,16) 50%, transparent 50%);
}
@media screen and (max-width:940px){
   .glass{
      width: 130px;
      height: 185px;
   }
}
@media screen and (max-width:650px){
   .glass{
      width: 100px;
      height: 155px;
   }
   h1{
      transform: rotate(-5deg);
   }
}
@media screen and (max-width:500px){
   .glass{
      width: 80px;
      height: 120px;
   }
}