:root {
    --pink-color: #ffe3ef;
    --orange-color: #ffe4e3;
    --yellow-color: #ffebe3;
}
html {
    min-height: 100%;
    height: auto;
}
body {
    background-color: #f5f5dc;
}

* {
    font-family: 'Lobster', cursive;
    box-sizing: border-box;
}

main {
    display: flex !important;
    justify-content: space-around;
    margin: 35px 50px;
}

header {
    position: sticky;
    top: 0;
    z-index: 2;
    overflow: hidden;
}

header h1 {
    text-align: center;
    overflow: hidden;
    background-color: var(--orange-color);
}

footer {
    text-align: center;
    background-color: var(--orange-color);
    position: relative;
    bottom: 0;
    width: 100%;
    color: #000000;
}

footer a {
    color: #000000;
}

footer a:hover {
    color: #6d6d6d;
}
