body {
    background-color: #f5f5dc;
}

* {
    font-family: 'Lobster', cursive;
    box-sizing: border-box;
}

main {
    display: flex !important;
    justify-content: space-around;
    margin: 35px 50px;
}

header {
    position: sticky;
    top: 0;
    z-index: 2;
    overflow: hidden;
}

header h1 {
    text-align: center;
    overflow: hidden;
    background-color: #ffe4c4;
}

footer {
    text-align: center;
    background-color: #ffe4c4;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #000000;
}

footer a {
    color: #000000;
}

footer a:hover {
    color: #6d6d6d;
}
